.grid-container {

    min-height: 100vh;

    max-height: 100vh;

    border: solid 2px black;

    color: black;



    display: grid;

    grid-template-columns: 30% 1fr 30%;

}



.grid-container>.content-container {

    grid-column: 2/2;

    border: solid 1px red;

    display: flex;

    flex-direction: column;

}



.grid-container>.content-container .row-1 {

    display: flex;

    justify-content: space-between;

    align-items: center;

    height: 10rem;

    border: solid 1px black;

}





.grid-container>.content-container .row-1 .search-bar {

    min-height: 2rem;
    max-height: 3rem;



    display: flex;
    column-gap: 2rem;

    border: solid 1px red;


}



.grid-container>.content-container .row-1 .search-bar form {

    width: 100%;
    display: flex;

    justify-content: right;

    min-height: 100%;
    max-height: 100%;

    margin: 0;
    padding: 0;

}




.grid-container>.content-container .row-1 .search-bar form>#order-search {


    min-height: 100%;
    max-height: 100%;

    min-width: 19rem;
    max-width: 20rem;

}




.grid-container>.content-container .row-1 .search-bar form>.btn {

    background-color: black;

    border-radius: 1rem;


    min-width: 8rem;
    max-width: 10rem;

    padding: 5px;

    font-size: 1.1rem;

    color: white;


}



.grid-container>.content-container .row-2 {

    display: flex;

}



.grid-container>.content-container .row-2 ul {

    display: flex;

    gap: 1rem;

}



.grid-container>.content-container .orders-container {

    display: flex;

    flex-direction: column;

    gap: 1rem;

}



.grid-container>.content-container .orders-container>.order {

    height: 26rem;

    border: solid 1px red;

    
    display: flex;
    
    flex-direction: column;
    
    gap: 1rem;
    
}




.grid-container>.content-container .orders-container>.order>.row1 {
    
    height: 7rem;
    
    padding: 0 1rem 0 1rem;

    background-color: rgb(236, 236, 236);

    border: solid 1px green;

    display: flex;

    justify-content: space-between;

    gap: 1rem;


}




.grid-container>.content-container .orders-container>.order>.row1 .column1 {

    display: flex;

    min-width: 30rem;
    min-width: 30rem;

    justify-content: space-between;

    text-align: center;

    align-items: center;
 

    color: rgb(87, 87, 87);

    font-size: small;

}


.grid-container>.content-container .orders-container>.order>.row1 .column1>.order-placed-span {

    display: flex;

    font-size: auto;
    flex-direction: column;

    align-items: center;

    text-align: center;

    justify-content: center;

    word-wrap: break-word;

    min-width: 9.5rem;

    max-width: 9.5rem;



    min-height: 100%;
    max-height: auto;

   



}


.grid-container>.content-container .orders-container>.order>.row1 .column1>.order-total-price-span {

    display: flex;

    font-size: auto;
    flex-direction: column;

    align-items: center;

    text-align: center;

    justify-content: center;

    word-wrap: break-word;

    min-width: 9.5rem;

    max-width: 9.5rem;



    min-height: 100%;
    max-height: auto;

 



}

.grid-container>.content-container .orders-container>.order>.row1 .column1>.ship-column {

    display: flex;

    font-size: auto;
    flex-direction: column;

    align-items: center;

    text-align: center;

    justify-content: center;

    word-wrap: break-word;

    min-width: 9.5rem;

    max-width: 9.5rem;



    min-height: 100%;
    max-height: auto;

 



}



.grid-container>.content-container .orders-container>.order>.row1 .column1>.ship-column .ship-to {

    display: flex;



    align-items: center;

    text-align: center;

    justify-content: center;


    color: rgb(0, 110, 255);


}


.grid-container>.content-container .orders-container>.order>.row1 .column1>.ship-column .ship-to .down-arrow {


    color: rgb(27, 27, 27);


}














.grid-container>.content-container .orders-container>.order>.row1 .column2 {

  

    color: rgb(87, 87, 87);


    width: 22rem;
    
    font-size: small;

    display: flex;

    flex-direction: column;

    text-align: center;

    justify-content: center;

    align-items: center;

}




.grid-container>.content-container .orders-container>.order>.row1 .column2 > .row2 {

 

    color: rgb(25, 121, 255);


    width: 19rem;
    
    font-size: 1.3rem;

    display: flex;

    justify-content: space-between;
 

 
}







