*,
*::before,
*::after {

  margin: 0%;
  padding: 0%;
  box-sizing: border-box;

}



:root {

  font-size: 62.5%;
  box-sizing: border-box;

}



body {

  font-size: 1.6rem;
  margin: 0%;
  padding: 0%;
  padding-top: 7rem;
  box-sizing: border-box;
 
}


.link{

 
 
  color: rgb(0, 132, 255);

  text-decoration: none;

}


.link:hover{

  color: rgb(0, 76, 255);

  cursor: pointer;

}






.icon {

  margin: 0;
  padding: 0;

}



::-webkit-scrollbar {

  display: none;

}



 


